<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Predykcja jakości wina</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Formularz predykcji jakości wina</h1>

    <form method="post" action="/predict">
        <label for="wine_type">Typ wina:</label>
        <select name="wine_type" id="wine_type" required>
            <option value="white" {% if selected == "white" %}selected{% endif %}>Białe</option>
            <option value="red" {% if selected == "red" %}selected{% endif %}>Czerwone</option>
        </select><br><br>

        <label>Kwasowość stała (g/dm³) <small>(3.8–15.9)</small></label>
        <input type="number" name="features" step="0.01" min="3.8" max="15.9" required><br>

        <label>Kwasowość lotna (g/dm³) <small>(0.08–1.58)</small></label>
        <input type="number" name="features" step="0.01" min="0.08" max="1.58" required><br>

        <label>Kwas cytrynowy (g/dm³) <small>(0.0–1.66)</small></label>
        <input type="number" name="features" step="0.01" min="0.0" max="1.66" required><br>

        <label>Resztkowy cukier (g/dm³) <small>(0.6–65.8)</small></label>
        <input type="number" name="features" step="0.1" min="0.6" max="65.8" required><br>

        <label>Chlorki (g/dm³) <small>(0.009–0.611)</small></label>
        <input type="number" name="features" step="0.001" min="0.009" max="0.611" required><br>

        <label>Dwutlenek siarki (wolny) (mg/dm³) <small>(1–289)</small></label>
        <input type="number" name="features" step="1" min="1" max="289" required><br>

        <label>Dwutlenek siarki (całkowity) (mg/dm³) <small>(6–440)</small></label>
        <input type="number" name="features" step="1" min="6" max="440" required><br>

        <label>Gęstość (g/cm³) <small>(0.98711–1.03898)</small></label>
        <input type="number" name="features" step="0.00001" min="0.98711" max="1.03898" required><br>

        <label>pH <small>(2.72–4.01)</small></label>
        <input type="number" name="features" step="0.01" min="2.72" max="4.01" required><br>

        <label>Siarczyny (g/dm³) <small>(0.22–2.0)</small></label>
        <input type="number" name="features" step="0.01" min="0.22" max="2.0" required><br>

        <label>Alkohol (% obj.) <small>(8.0–14.9)</small></label>
        <input type="number" name="features" step="0.1" min="8.0" max="14.9" required><br><br>

        <button type="submit">Przewiduj</button>
    </form>

    {% if prediction %}
        <h2>Przewidywana jakość: {{ prediction }}</h2>
    {% endif %}
</body>
</html>